<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}" type="text/css">
</head>
<body>
<div class="form-center">
    <form class="meeting_form" method="post">
        {% csrf_token %}
        <div class="content">
            <div>
                <label>Login:</label>
                <!--     ##############################input с логином-->
                {{ form.user }}
            </div>
            <p class="line"><span>AND</span></p>
            <div class="roomID">
                <div class="input-group">
                    <!--     ##############################input с входом в комнату-->
                    <input type="text" id="username" class="form-control" placeholder="Meeting ID" aria-label="Username"
                           aria-describedby="input-group-button-right">
                    <button type="button" class="btn btn-outline-secondary"
                            id="input-group-button-right connectButton" onclick='connect()'>Join Meeting
                    </button>
                </div>
                <p>OR</p>
                <div class="input-group">
                    <!--     ##############################input с созданием комнаты-->
                    <button type="submit" class="btn btn-outline-secondary" id="input-group-button-left">Create meeting
                        room
                    </button>
                    {{ form.call_id }}
                </div>
            </div>
            <a href="meeting">next page</a>
        </div>
        <span>{{ error }}</span>
    </form>
</div>
</body>
</html>